@font-face {
    font-family: myFont;
    src: url(./WorkSans-Regular.ttf);
}
* {
    font-family: myFont;
    margin: 0;
}
.header-main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FF900E1A;
    margin: 0;
    padding: 20px 240px 20px 228px;
}
.logo h2 {
    font-size: 45px;
    font-weight: bold;
    color: #131313;
}
.menu nav ul {
    display: flex;
    text-align: center;
}
.menu ul li a {
    text-decoration: none;
    color: #424242;
    font-size: 18px;
    font-weight: 500;
    line-height: 26px;
    margin-left: 50px;

}
.menu ul li {
    display: flex;
}

/* hero sectopn */

.hero-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #FF900E1A;
    padding-bottom: 45px;
}
.hero-main .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    padding-top: 116px;
}
.content h1 {
    font-size: 64px;
    font-weight: bold;
    color: #131313;
    margin-bottom: 24px;
}
.content p {
    font-size: 18px;
    color: #727272;
    width: 866px;
    margin-bottom: 32px;
}
.btn {
    background-color: #FF900E;
    padding: 20px 25px;
    width: 180px;
    border: 0px;
    border-radius: 5px;
    color: #ffffff;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
}
.hero-img img {
    width: 1440px;
    margin-top: 50px;
}

/* Quick list of Our Features section */

.quick-main {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 130px;
}
.grid-img {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 20px;

}
.grid-img  img {
    width: 100%;
    height: auto;
    margin: 0%;
    padding: 0%;
}
.containt {
    padding-left: 73px;
}
.containt h2 {
    font-size: 45px;
    width: 400px;
    margin-bottom: 24px;
}
.containt .text01 {
    color: #727272;
    font-weight: 500;
}
.containt .text02 {
    color: #131313;
    font-weight: bold;
}
.containt .text03 {
    color: #FF900E;
    font-weight: bold;
}
.containt p {
    font-size: 16px;
    color: #727272;
    width: 537px;
    margin-bottom: 32px;
}

/* Features you will love & enjoy */

.features-main {
    display: flex;
    justify-content: center;
    align-items: center;
}
.features-main .features-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 24px;
}
.features-content h2 {
    font-size: 45px;
    font-weight: bold;
    color: #131313;
    width: 468px;
    border-left: 5px solid #FF900E;
    padding-left: 21px;
}
.features-content .p {
    font-size: 16px;
    color: #727272;
    width: 586px;
    margin-bottom: 30px;
}
.features-content .box-perent {
    display: flex;
    flex-direction: column;

}
.features-content .box-perent .box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 586px;
    height: 171px;
    padding: 30px 42px 30px 30px;
    box-shadow: 5px 5px  100px #13131310;
    margin-bottom: 20px;
    border-radius: 8px;
}
.features-content .box-perent .box h4 {
    font-size: 20px;
    font-weight: 500;
    color: #131313;
}
.features-content .box-perent .box p {
    font-size: 16px;
    color: #727272;
}
.features-img-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 130px; 
}
.features-img-main .features-img img {
    width: 100%;
    height: auto;
}
.features-img-main .year {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    position: relative;
    background-color: #FF900E;
    padding: 46px 42px;
    border-radius: 8px;
    width: 342px;
    bottom: 200px;
    left: 50px;
}
.features-img-main .year h2 {
    font-size: 65px;
    font-weight: bold;
    color: #ffffff;
}
.features-img-main .year p {
    font-size: 25px;
    font-weight: 500;
    color: #ffffff;
}
.features-img-main .features-img {
    padding: 0px 0px 80px 96px;
    margin-left: 54px;
}