@font-face {
    font-family: myFont;
    src: url(./WorkSans-Regular.ttf);
}
* {
    font-family: myFont;
    margin: 0;
}
.header-main {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #FF900E1A;
    margin: 0;
    padding: 20px 240px 20px 228px;
}
.logo h2 {
    font-size: 45px;
    font-weight: bold;
    color: #131313;
}
.menu nav ul {
    display: flex;
    text-align: center;
}
.menu ul li a {
    text-decoration: none;
    color: #424242;
    font-size: 18px;
    font-weight: 500;
    line-height: 26px;
    margin-left: 50px;

}
.menu ul li {
    display: flex;
}

/* hero sectopn */

.hero-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #FF900E1A;
    padding-bottom: 45px;
}
.hero-main .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    padding-top: 116px;
}
.content h1 {
    font-size: 64px;
    font-weight: bold;
    color: #131313;
    margin-bottom: 24px;
}
.content p {
    font-size: 18px;
    color: #727272;
    width: 866px;
    margin-bottom: 32px;
}
.content button {
    background-color: #FF900E;
    padding: 20px 25px;
    width: 180px;
    border: 0px;
    border-radius: 5px;
    color: #ffffff;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
}
.hero-img img {
    width: 1440px;
    margin-top: 50px;
}

/* Quick list of Our Features section */

.quick-main {
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-bottom: 200px;
}
